{% extends "base.html" %}
{% block nav %}
<a href="{{ SITEURL }}">Blog</a> ›<a href="{{ article.category.url }}">{{ article.category }}</a> ›{{ article.title }}
{% endblock %}

{% block content %}
{{ super() }}
<section id="post" class="post hentry">
    <header>
    <h2 class="post-title" >{{ article.title }}</h2>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
    <div class="post-meta">
        <span class="meta-prep">Post in</span>
        <abbr class="date" title="{{ article.date.isoformat() }}"> 
            <a href="{{ SITEURL }}/{{ article.date|strftime("archive/%Y/%b/index.html") }}">{{ article.locale_date }} </a>
        </abbr>
        <span class="meta-prep"> |Tags</span>
            {% for tag in article.tags %}
                <a class="tag-badge" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            {% endfor %}
        <!-- TOBE COMMENTS -->
    </div>
    </header>
    <div class="post-entry markdown-body">
        {{ article.content }}
    </div><!-- /.entry-content -->
    <footer class="post-meta">
        <span class="meta-prep">Category:</span>
        <abbr class="category">
            <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </abbr>
       </footer>
    
</section>


{% endblock %}
